/* Your custom css code goes here */

.section-heading {
    margin-bottom: 0;
    margin-top: 100px;
}
a.reset {
    transition: .3s all;
    color: #999;
}
a.reset:hover {
    color: #2ac57d;
    text-decoration: underline;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

